.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: gray;
}

.header{
    display: flex;
    height: 8vh;
    justify-content: space-between;
    & * {
        display: flex;
        margin: 0.3rem;
        color: white;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
    }
}

.navigator > *{
    margin: 0.5rem 1.5rem;
}

.auth > * {
    width: 5rem;
    background-color: rgb(141, 136, 136);
    border: none;
    border-radius: 5px;
}

.auth *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePageDesign{
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.LogInPage{
    height: 92vh;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    background-color: pink;
}

.LogInPage > * {
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    color: white;
}

.teachingImage{
    border-radius: 9px;
    margin-top: 2rem;
    border-right: 5px solid rgb(57, 55, 55);
    border-bottom: 5px solid rgb(55, 54, 54);
}

.signBluetxt{
    color: aqua;
    margin-bottom: 2rem;
}

.signInform{
    width: 25vw;
    & button , input{
        width: 25vw;
        height: 6vh;
        border: none;
        border-radius: 5px;
        position: relative;
    }
}

.signInButton{
    background-color: rgb(244, 244, 4);
    color: rgb(87, 85, 85);
}

.forgotPassword{
    color: aqua;
    font-size: 0.7rem;
    margin-left: 14rem;
    cursor: pointer;
}

.googleLogo{
    position: absolute;
    left: 5rem;
}

.password{
    position: relative;
}

.eyeLogo{
    position: absolute;
    left: 18rem;
    top: 1.8rem;
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
}